<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>
    <body>
        <div id="connecturl">
            <p>Open this website:</p>
            <p id="url"></p>
        </div>
        <h1>Choose Your Stream</h1>
        <% for (var i = 0; i< streamnames.length; i++) {%>
        <a href="/live/<%=streamnames[i]%>"><p><%=streamnames[i]%></p></a>
        <%}%>

        <script>window.onload = function getURL() {document.getElementById("url").innerHTML = window.location.href.substr(7, window.location.href.length - 8)};</script>
    </body>
</html>
